<h1>Edit Organization</h1>

<%= live_render @conn, Aicacia.Autosheets.Web.Live.Organization.Form, session: %{"organization" => @organization} %>

<span><%= link "Back", to: Routes.organization_path(@conn, :index) %></span>
