<h1>Show Organization</h1>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<span><%= link "Edit", to: Routes.organization_path(@conn, :edit, @organization) %></span>
<span><%= link "Back", to: Routes.organization_path(@conn, :index) %></span>
