<h1>Edit Connection</h1>

<%= live_render @conn, Aicacia.Autosheets.Web.Live.Connection.Form, session: %{"connection" => @connection} %>

<span><%= link "Back", to: Routes.organization_connection_path(@conn, :index) %></span>
