<h1>Listing Connections</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for connection <- @connections do %>
    <tr>
      <th><%= connection.connection.name %></th>
      <th><%= connection.connection.type %></th>

      <td>
        <span><%= link "Show", to: Routes.organization_connection_path(@conn, :show, connection.connection) %></span>
        <span><%= link "Edit", to: Routes.organization_connection_path(@conn, :edit, connection.connection) %></span>
        <span><%= link "Delete", to: Routes.organization_connection_path(@conn, :delete, connection.connection), method: :delete, data: [confirm: "Are you sure?"] %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Connection", to: Routes.organization_connection_path(@conn, :new) %></span>
