<h1>Show Connection</h1>

<p>
  <strong>Name:</strong>
  <%= @connection.connection.name %>
</p>
<p>
  <strong>Type:</strong>
  <%= @connection.connection.type %>
</p>

<span><%= link "Edit", to: Routes.organization_connection_path(@conn, :edit, @connection.connection) %></span>
<span><%= link "Back", to: Routes.organization_connection_path(@conn, :index) %></span>
