<h1>Listing Pipes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Schedule</th>
      <th>Query</th>
      <th>Source</th>
      <th>Target</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for pipe <- @pipes do %>
    <tr>
      <th><%= pipe.name %></th>
      <th><%= pipe.schedule %></th>
      <th><%= pipe.query %></th>
      <th><%= pipe.source.connection.name %></th>
      <th><%= pipe.target.connection.name %></th>

      <td>
        <span><%= link "Show", to: Routes.organization_pipe_path(@conn, :show, pipe) %></span>
        <span><%= link "Edit", to: Routes.organization_pipe_path(@conn, :edit, pipe) %></span>
        <span><%= link "Delete", to: Routes.organization_pipe_path(@conn, :delete, pipe), method: :delete, data: [confirm: "Are you sure?"] %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Pipe", to: Routes.organization_pipe_path(@conn, :new) %></span>
