<h1>Show Pipe</h1>

<p>
  <strong>Name:</strong>
  <%= @pipe.name %>
</p>
<p>
  <strong>Type:</strong>
  <%= @pipe.type %>
</p>

<span><%= link "Edit", to: Routes.organization_pipe_path(@conn, :edit, @pipe.pipe) %></span>
<span><%= link "Back", to: Routes.organization_pipe_path(@conn, :index) %></span>
